# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://acxjrwujhfaiirvcegqm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_qSg744XHWoMnFh6KeCorZg_XYX6b0C_
SUPABASE_SERVICE_ROLE_KEY=postgresql://postgres:[YOUR-PASSWORD]@db.acxjrwujhfaiirvcegqm.supabase.co:5432/postgres

# Resend (Email)
RESEND_API_KEY=re_Tu4c6pe6_AUa3GUMVPD4q41sFfhomPP9k

# Admin
ADMIN_EMAIL=vilsanagua@gmail.com
WHATSAPP_NUM=941 392 901

# Auth (simple token for dashboard)
DASHBOARD_SECRET=vilsan-admin-2025
